DJANGO_SECRET_KEY=change-me
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
GOOGLE_OAUTH_WEB_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_IDS=
GOOGLE_OAUTH_CLIENT_SECRET=
GEMINI_API_KEY=
GOOGLE_MAPS_API_KEY=
